@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #D6D6D6;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color: blue;
  width: auto;
}

.mint {
  font-size: 28px;
}

.telefon {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
}

.telefon a {
  text-decoration: none;
  color: red;
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workdays, .worktime {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-call {
  background-color: #4361EE;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.7px;
  padding: 10px 40px;
  margin-right: 30px;
  border: 0 #4361EE;
  border-radius: 20px;
  box-shadow: 1px 1px 0 3px #cbd6ee;
}

.btn-call:focus {
  outline: none;
}

.btn-call:hover {
  background-color: #2b48ce;
}

.btn-call:active {
  outline: none;
  box-shadow: 0 0 0 3px #cbd6ee;
}

.nav-menu {
  height: 50px;
  background-color: gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #ffffff;
}

.overlay {
  display: none;
  position: absolute;
  background-color: rgba(23, 55, 56, 0.35);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.content-wrapper {
  max-width: 500px;
}

.title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.form-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 14px;
  padding: 40px 35px;
  z-index: 9999;
}

.form-label {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}

.form-input {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 52px;
  border-radius: 8px;
  background-color: #e3eaea;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 20px;
  transition: background-color 0.2s ease-in;
}

.form-input:focus {
  outline: none;
  background-color: #c6e8e8;
}

.form-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 52px;
  border-radius: 8px;
  background-color: #12ab8c;
  color: #fff;
  border: none;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.form-submit:hover, .form-submit:focus {
  background-color: #00cca3;
  outline: none;
}

.form-submit:active {
  background-color: #088169;
  outline: none;
}

.btn-close {
  width: 31px;
  height: 31px;
  cursor: pointer;
  background: url(/images/close.png);
  border: none;
  outline: none;
  position: absolute;
  margin-top: 35px;
  margin-left: -10px;
  z-index: 10000;
}

/* кнопка закрытия при наведении */
.btn-close:hover {
  background: url(/images/close-hover.png);
}

@media (max-width: 400px) {
  .form-input {
    font-size: 16px;
  }
}
.main-slider {
  margin-top: 25px;
}

.owl-carousel .item {
  z-index: 900;
}

.cont {
  position: relative;
}

.cont h3 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  top: 30px;
  right: 20px;
  padding: 5px 15px;
  z-index: 777;
}

.box h3 {
  background-color: rgba(172, 182, 195, 0.3);
  border-radius: 25px;
}

.fa-chevron-left, .fa-chevron-right {
  color: #ffff;
  position: absolute;
  top: 325px;
}

.fa-chevron-left {
  left: 20px;
}

.fa-chevron-right {
  right: 20px;
}

@media (max-width: 1200px) {
  .contact {
    margin-right: 20px;
  }

  .logo {
    margin-left: 20px;
  }
}
@media (max-width: 950px) {
  .contact {
    width: 30% !important;
    flex-direction: column !important;
    align-items: center;
    margin: 15px 20px 15px 0;
  }

  .btn {
    margin-right: 0;
    margin-top: 15px;
    order: 2;
  }

  .header {
    height: auto !important;
  }

  .nav-menu li {
    font-size: 14px;
    margin: 30px 0 !important;
  }
}
@media (max-width: 750px) {
  .header {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .logo {
    width: auto !important;
    margin-left: 0;
  }

  .contact {
    width: auto !important;
    margin-right: 0;
    margin-top: 5px;
  }

  .nav-menu {
    height: auto;
  }

  .nav-menu li {
    font-size: 20px;
    margin: 10px 0 !important;
  }

  .menu {
    flex-direction: column !important;
    margin: 0 !important;
    padding: 15px 0 !important;
  }

  #menuToggle {
    display: none;
  }
}
.show, .form-wrapper .show {
  display: flex;
}

.error {
  display: none;
  background-color: rgba(255, 25, 30, 0.7);
  border-radius: 25px;
  padding: 8px 20px;
  margin-bottom: 5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}

.err1 {
  display: none;
}

.err2 {
  display: none;
}

/*# sourceMappingURL=style.css.map */
