@import "variables";

.main-slider {
  margin-top: 25px;
}

.owl-carousel .item {
  z-index: 900;
}

.cont {
  position: relative;
}

.cont h3 {
  position: absolute;
  font-family: $Montserrat;
  font-size: 24px;
  font-weight: 500;
  color:#fff;
  top: 30px;
  right: 20px;
  padding: 5px 15px;
  z-index: 777;
}

.box h3{
  background-color: rgba(172, 182, 195, 0.3);
  border-radius: 25px;
}

.fa-chevron-left, .fa-chevron-right {
  color: #ffff;
  position: absolute;
  top: 325px;
}

.fa-chevron-left {
  left: 20px;
}

.fa-chevron-right {
  right: 20px;
}