// Цвета

$color: red;
$color2 : green;
$white: #ffffff;
$btn-color: #4361EE;
$btn-color-hover: #2b48ce;

//Шрифты

$font-btn: 'Roboto', sans-serif;
$font-work: 'Roboto', sans-serif;
$font-logo: 'Lobster', cursive;
$font-telefon: 'Montserrat', sans-serif;

$fontsize-btn: 16px;
$fontsize-telefon: 24px;
$fontsize-logo: 28px;
$fontsize-work: 14px;
